.button {
    width: 380px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid var(--border);
    background-color: var(--primary-color);
    color: var(--text-color);
}

.button:hover {
   background-color: var(--primary-color-hover);
   cursor: pointer;
}

.small {
    width: 30%;
}

.deleteTask {
    color: var(--border);
    background-color: transparent;
    border: 1px dotted var(--primary-color);
    width: 150px;
    height: 20px;
    border-radius: 5px;
}