.button {
    width: 380px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid var(--border);
    background-color: var(--primary-color);
    color: var(--text-color);
}

.button:hover {
   background-color: var(--primary-color-hover);
}

.small {
    width: 30%;
}