.container {
    padding: 40px;
    background-color: var(--nav)
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 30px;
}