.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

.logo {
    width: 40px;
    height: 40px;
}