.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid var(--border);
    min-height: 100vh;
}

.logo {
    border-bottom: 1px solid var(--border);
}