.button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: var(--border);
}

.cross {
    width: 20px;
    height: 20px;
    
}